<div class="header">
    <div>
      <img src="/assets/Title.png" alt="" />
    </div>
  
    <div>
      <a href="">Home</a>
      <a href="">Map</a>
      <a href="">Route</a>
      <a href="">Contact</a>
    </div>
  
    <div>
      <input type="text" placeholder="ค้นหา" />
    </div>
  </div>
  <div class="Contact-main">
    <div class="Contact-left">
        <div class="Contact-left-top">
  
            <img src="/assets/D04/image.png" alt="">
          
        </div>
        <div class="Contact-left-bottom">
    
            <img src="/assets/D04/image-1.png" alt="">
            <img src="/assets/D04/image-2.png" alt="">
            <img src="/assets/D04/image-3.png" alt="">
            <img src="/assets/D04/image-4.png" alt="">
            <img src="/assets/D04/image-5.png" alt="">
    
        </div>
    </div>
    <div class="Contact-right">
      <h1 class="title">ไร่ชาฉุยฟง เชียงราย</h1>
  
      <p>
        ตั้งอยู่ในฝั่งอ่าวไทย ในเขตตำบลทรายทอง อำเภอบางสะพานน้อย เป็นแหล่งดำน้ำดูปะการังและสัตว์น้ำชนิดต่าง ๆ มีจุดดำน้ำเลื่องชื่ออยู่ด้วยกัน 2 จุด คือ อ่าวกรวดและอ่าวเทียน นักท่องเที่ยวจะตื่นตาตื่นใจไปกับปลาสีสันแปลก ๆ ปะการังหลากชนิด ทั้งปะการังโขด ปะการังเขากวาง ไม่แน่ว่าอาจได้เห็นหอยมือเสือตัวใหญ่ ที่ทำเอาคุณต้องอึ้งและทึ่งไปเลยทีเดียว
      </p>
  
      <p>
        มีเนื้อที่ประมาณ 1,000 ไร่ ความยาวจากทิศเหนือจรดทิศใต้ประมาณ 2 กิโลเมตร ภูมิประเทศเป็นชายหาด ภูเขา และสวนมะพร้าว ซึ่งยังคงสภาพสวยงามอุดมสมบูรณ์ หาดทรายขาวสะอาด เช่น อ่าวมุกบรรยากาศเงียบสงบ ทรายขาวละเอียด น้ำทะเลสีสวย อ่าวไทรใหญ่เหมาะแก่การดำน้ำดูปะการัง พายเรือคายัค เล่นเรือใบ อ่าวเทียนเหมาะแก่การชมวิวทิวทัศน์ ที่นี่มีต้นเทียนอยู่มาก
      </p>
     
      <img class="img-slot" src="/assets/Frame 9.png" alt="">
  
    </div>
  </div>
  