<div class="header">
    <div>
      <img src="/assets/Title.png" alt="" />
    </div>
  
    <div>
      <a href="">Home</a>
      <a href="">Map</a>
      <a href="">Route</a>
      <a href="">Contact</a>
    </div>
  
    <div>
      <input type="text" placeholder="ค้นหา" />
    </div>
  </div>
  <div class="Contact-main">
    <div class="Contact-left">
        <div class="Contact-left-top">
  
            <img src="/assets/D03/image.png" alt="">
          
        </div>
        <div class="Contact-left-bottom">
    
            <img src="/assets/D03/image-1.png" alt="">
            <img src="/assets/D03/image-2.png" alt="">
            <img src="/assets/D03/image-3.png" alt="">
            <img src="/assets/D03/image-4.png" alt="">
            <img src="/assets/D03/image-5.png" alt="">
    
        </div>
    </div>
    <div class="Contact-right">
      <h1 class="title">อุทยานแห่งชาติผาแต้ม</h1>
  
      <p>
        อุทยานแห่งชาติผาแต้ม ตั้งอยู่ทางด้านทิศตะวันออกสุดเขตประเทศไทย ห่างจากจังหวัดอุบลราชธานี ประมาณ 95 กิโลเมตร การคมนาคมเป็นทางลาดยางสามารถเข้าถึงได้สะดวก มีแหล่งท่องเที่ยวที่สำคัญ ได้แก่ ภาพเขียนสีก่อนประวัติศาสตร์ผาแต้ม เสาเฉลียงผาแต้ม จุดชมวิวแม่น้ำโขง มีสิ่งอำนวยความสะดวกพร้อมในการต้อนรับนักท่องเที่ยว มีพื้นที่เป็นลานหินโล่งกว้างและพื้นที่สูงต่ำสลับกันทั่วบริเวณ มีทัศนียภาพที่สวยงาม ป่าไม้เป็นป่าเต็งรังต้นไม้เตี้ยแคระแกรนทำให้มองเห็นท้องฟ้าได้รอบด้าน
      </p>
  
      <p>
        ระหว่างทางที่ทุกคนเดินไปจะได้รับชมความเป็นธรรมชาติ ต้นไม้ หินผา และความสวยของแม่น้ำโขงในแบบที่คุ้มมาก ๆ ถ้ามีโอกาสได้ไปเดิน ซึ่งทางเดินจะต้องใช้ความระมัดระวังมาก ๆ เลยนะคะ ผาที่ทุกคนจะได้เดินมีทั้ง 4 ผาคือ ผาขาม, ผาแต้ม, ผาหมอนน้อย และผาหมอนค่ะ สำหรับค่าเข้าอุทยาน คิดเป็นผู้ใหญ่คนละ 40 บาท บวกค่ารถยนต์ 30 บาทนะคะ 
      </p>
     
  
      <img class="img-slot" src="/assets/Frame 9.png" alt="">
  
    </div>
  </div>
  