<div class="header">
  <div>
    <img src="/assets/Title.png" alt="" />
  </div>

  <div>
    <a href="">Home</a>
    <a href="">Map</a>
    <a href="">Route</a>
    <a href="">Contact</a>
  </div>

  <div>
    <input type="text" placeholder="ค้นหา" />
  </div>
</div>
<div class="Contact-main">
  <div class="Contact-left">
    <div class="Contact-left-top">
      <img src="/assets/D05/image.png" alt="" />
    </div>
    <div class="Contact-left-bottom">
      <img src="/assets/D05/image-1.png" alt="" />
      <img src="/assets/D05/image-2.png" alt="" />
      <img src="/assets/D05/image-3.png" alt="" />
      <img src="/assets/D05/image-4.png" alt="" />
      <img src="/assets/D05/image-5.png" alt="" />
    </div>
  </div>
  <div class="Contact-right">
    <h1 class="title">สวนสัตว์เปิดเขาเขียว</h1>

    <p>
      นอกจาก ชลบุรี จะมี ที่เที่ยวทะเลใกล้กรุงเทพ แล้ว บอกเลยว่าสำหรับคนรักสัตว์
      ก็ต้องไม่พลาดที่นี่เหมือนกันค่ะ
      เพราะเราจะพาไปเช็คอินกันที่ สวนสัตว์เปิดเขาเขียว ที่เที่ยวชลบุรี One Day
      Trip ไปเจอน้องๆ กัน ดู พาเหรดเพนกวิน สุดน่ารัก ให้อาหารยีราฟ
      แวะไปเจอน้อง ขาหมู หมูตุ๋น หมูหวาน ฮิปโปเซเล็บ หมูเด้ง ที่เขาเขียว เอาล่ะ
      ตามเราไป เที่ยวใกล้กรุงเทพฯ ชิลๆ กันได้เลยค่า
    </p>

    <p>
       ที่นี่เป็นสวนสัตว์ขนาดใหญ่มาก มีพื้นที่ทั้งสิ้น 5,000 ไร่ทีเดียว
      ซึ่งมีสัตว์มากถึง 300 ชนิด ทั้งสัตว์ในไทย และจากต่างประเทศ
      ไม่ว่าจะเป็นช้าง กระทิง วัวแดง ฮิปโปโปเตมัส ชะนี ค่าง ลิงลม ม้าลาย ยีราฟ
      นกกระจอกเทศ ไฮยีน่า เสือ สิงโต กวางดาว ละมั่ง แพะภูเขา เลียงผา หมี นกยูง
      นกกระเรียน นกเงือก และอื่นๆ อีกมากมายเลยค่ะ
    </p>

    <img class="img-slot" src="/assets/Frame 9.png" alt="" />
  </div>
</div>
