<style>
  .header, .footer {
    height: 32px;
    background: lightgray;
    grid-column-start: span 3;
  }

  footer {
    /* position: absolute; */
    /* bottom: 0; */
    text-align: center;
  }

  
  section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-grow: 1;
    background: lightblue;
  }



  .main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 32px 1fr 32px;
  }

  .content{
    grid-column-start: span 2;
  }

 

</style>

  
<main class="main">
  <div class="header">
    <h1>header</h1>
  </div>
  <ngt-canvas [sceneGraph]="sceneGraph" [camera]="{ position:[0,11,1] , fov:80}" (mousemove)="OnMouseMove($event)" />
  <div class="content">
    <h1>
      @if (this.selected) {
        {{this.selected}}
      }
    </h1>
    <router-outlet />
  </div>
  <div class="footer">
    <h1>footer</h1>
  </div>
</main>
    