<div class="header">
  <div>
    <img src="/assets/Title.png" alt="" />
  </div>

  <div>
    <a href="">Home</a>
    <a href="">Map</a>
    <a href="">Route</a>
    <a href="">Contact</a>
  </div>

  <div>
    <input type="text" placeholder="ค้นหา" />
  </div>
</div>
<div class="Contact-main">
  <div class="Contact-left">
    <div class="Contact-left-top">

        <img src="/assets/banner-gqpyji_130321-151826 1.png" alt="">
      
    </div>
    <div class="Contact-left-bottom">

        <img src="/assets/D01/blog-5annhh_130321-140213 1.png" alt="">
        <img src="/assets/D01/blog-53t58d_130321-140004 1.png" alt="">
        <img src="/assets/D01/blog-6362fj_130321-135957 1.png" alt="">
        <img src="/assets/D01/blog-bfiuma_130321-140228 1.png" alt="">
        <img src="/assets/D01/blog-rjxgdt_130321-140107 1.png" alt="">

    </div>
  </div>
  <div class="Contact-right">
    <h1 class="title">ไร่ชาฉุยฟง เชียงราย</h1>

    <p>
      เวลามองอะไรสีเขียวๆ
      มันทำให้สบายตาวันนี้พี่ฟมีบอนด์อยากพาทุกคนไปพักสายตากันที่
      🍃"ไร่ชาฉุยฟง"เชียงราย เขียวทั้งไร่ 55555แหล่งปลูกชาชั้นดี มีคุณภาพ
      และมีชื่อเสียง
    </p>

    <p>
      ใครมาที่นี่ก็อดไม่ได้ที่จะยกกล้องขึ้นมาถ่ายรูปวิวกว้างๆ ของไร่ชาแห่งนี้
      ได้รูปโทนเขียวแต่สวยมากในช่วงเช้าๆ ก็จะได้เห็นคนที่นี่มาเก็บยอดใบชากันด้วย
      หรือเราจะไปเช่าชุดชาวเขา เก็บชากับเขาก็ได้นะ
    </p>
   
    <p>
      ใครมาที่นี่ก็อดไม่ได้ที่จะยกกล้องขึ้นมาถ่ายรูปวิวกว้างๆ ของไร่ชาแห่งนี้
      ได้รูปโทนเขียวแต่สวยมากในช่วงเช้าๆ ก็จะได้เห็นคนที่นี่มาเก็บยอดใบชากันด้วย
      หรือเราจะไปเช่าชุดชาวเขา เก็บชากับเขาก็ได้นะ
    </p>

    <p>
      อีกอย่างที่ไม่ควรพลาด คือการไปที่คาเฟ่ในไร่ชา🍵จิบชาชั้นดี
      ชิมขนมเค้กอร่อยๆ ชมวิวพาโนราม่า
    </p>

    <img class="img-slot" src="/assets/Frame 9.png" alt="">

  </div>
</div>
