<div class="header">
    <div>
      <img src="/assets/Title.png" alt="" />
    </div>
  
    <div>
      <a href="">Home</a>
      <a href="">Map</a>
      <a href="">Route</a>
      <a href="">Contact</a>
    </div>
  
    <div>
      <input type="text" placeholder="ค้นหา" />
    </div>
  </div>
  <div class="Contact-main">
    <div class="Contact-left">
      <div class="Contact-left-top">
  
          <img src="/assets/D02/image.png" alt="">
        
      </div>
      <div class="Contact-left-bottom">
  
          <img src="/assets/D02/image-1.png" alt="">
          <img src="/assets/D02/image-2.png" alt="">
          <img src="/assets/D02/image-3.png" alt="">
          <img src="/assets/D02/image-4.png" alt="">
          <img src="/assets/D02/image-5.png" alt="">
  
      </div>
    </div>
    <div class="Contact-right">
      <h1 class="title">น้ำตกเอราวัณ</h1>
  
      <p>
        น้ำตกเอราวัณ หรือที่เรียกว่า “น้ำตกสะด่องม่องลาย” จัดเป็นหนึ่งในน้ำตกที่สวยงามเป็นอันดับต้น ๆ ของไทยเลย โดยจะมีทั้งหมด 7 ชั้น และความยาวประมาณ 1,500 เมตร
      </p>
  
      <p>
        แต่ละชั้นจะมีความสวยงามที่แตกต่างกันไป ยิ่งขึ้นสูงเท่าไหร่น้ำก็จะยิ่งใสสะอาดเท่านั้น โดยชั้นบนสุดจะมีน้ำใสสะท้อนแสงเป็นสีฟ้าอมเขียวมรกตคล้ายสระว่ายน้ำเลย
      </p>
     
      <p>
        น้ำตกแห่งนี้ สามารถไปเที่ยวได้ทั้งปี ไม่ว่าจะเป็นฤดูไหน เพราะจะมีน้ำให้นักท่องเที่ยว ได้ลงไปเล่นกันได้ตลอด แอดมีความงาม ของแต่ละชั้นมานำเสนอ เอาไว้เป็นตัวเลือกในการเที่ยวครั้งต่อไป มาให้ดูกัน จะงดงามขนาดนั้น
      </p>
  
  
      <img class="img-slot" src="/assets/Frame 9.png" alt="">
  
    </div>
  </div>
  