<main class="main" *ngIf="!showDetail">
  <div class="header">
    <div>
      <img src="/assets/Title.png" alt="" />
    </div>

    <div>
      <a href="">Home</a>
      <a href="">Map</a>
      <a href="">Route</a>
      <a href="">Contact</a>
    </div>

    <div>
      <input type="text" placeholder="Search..." />
    </div>
  </div>

  <div class="map">
    <ngt-canvas
      [sceneGraph]="sceneGraph"
      [camera]="{ position: [0, 11, 1], fov: 80 }"
      (mousemove)="OnMouseMove($event)"
    />
  </div>

  <div class="background-detail">
    <!-- <pre>{{ selected }}</pre> -->

    <div *ngIf="selected === null" class="img-group">
      <img src="/assets/images/image1.png" alt="" />
      <img src="/assets/images/image2.png" alt="" />
      <img src="/assets/images/image3.png" alt="" />
      <img src="/assets/images/image4.png" alt="" />
      <img src="/assets/images/image5.png" alt="" />
      <img src="/assets/images/image6.png" alt="" />
      <img src="/assets/images/image7.png" alt="" />
      <img src="/assets/images/image8.png" alt="" />
      <img src="/assets/images/image9.png" alt="" />
    </div>

    <p class="title-text" *ngIf="selected == 'Chiang_Rai'">เชียงราย</p>
    <div *ngIf="selected == 'Chiang_Rai'" class="img-group">
      <img src="/assets/Chiang_Rai/image 14.png" alt="" />
      <img src="/assets/Chiang_Rai/image 15.png" alt="" />
      <img
        src="/assets/Chiang_Rai/image 16.png"
        alt=""
        (click)="onImageClick('image 16.png')"
      />
      <img src="/assets/Chiang_Rai/image 17.png" alt="" />
      <img src="/assets/Chiang_Rai/image 18.png" alt="" />
    </div>

    <p class="title-text" *ngIf="selected == 'Kanchanaburi'">กาญจนบุรี</p>
    <div *ngIf="selected == 'Kanchanaburi'" class="img-group">
      <img src="/assets/Kanchanaburi/image 15.png" alt="" />
      <img
        src="/assets/Kanchanaburi/image 16.png"
        alt=""
        (click)="onImageClick('image 16.png')"
      />
      <img src="/assets/Kanchanaburi/image 17.png" alt="" />
      <img src="/assets/Kanchanaburi/image 18.png" alt="" />
      <img src="/assets/Kanchanaburi/image 19.png" alt="" />
    </div>
  </div>
</main>

<!-- <app-detail *ngIf="showDetail" [province]="selected"></app-detail> -->
<app-detail *ngIf="showDetail && selected" [province]="selected"></app-detail>
